@font-face {
    font-family: "futura";
    src: url("./../fonts/futura.woff2") format("woff2"),
        url("./../fonts/futura.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "aller";
    src: url("./../fonts/aller.woff2") format("woff2"),
        url("./../fonts/aller.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}