@import './../lib/fontawesome/all.min.css';
@import './variables';
@import './grid';


* {
    box-sizing: border-box;
}

//-----------HEADER------------------
.o-siteHeader{
    &__m-logosContainer {
        &__link{
            &__a-logo{
color: aqua;
            }
        }
    }
    &m-mainNav{
        &__menuList {
            &__a-item{
                &__link{
color: aqua;
                }
            }
        }
    }
}